:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(21, 91%, 17%);
  --clr-primary-2: hsl(21, 84%, 25%);
  --clr-primary-3: hsl(21, 81%, 29%);
  --clr-primary-4: hsl(21, 77%, 34%);
  --clr-primary-5: hsl(21, 62%, 45%);
  --clr-primary-6: hsl(21, 57%, 50%);
  --clr-primary-7: hsl(21, 65%, 59%);
  --clr-primary-8: hsl(21, 80%, 74%);
  --clr-primary-9: hsl(21, 94%, 87%);
  --clr-primary-10: hsl(21, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: #040404;
}
button:hover {
  box-shadow: 0px 0px 5px 0px rgba(110, 56, 247, 0.5);
  transition: all 0.2s ease-in-out;
}

.container {
  max-width: 920px;
  padding: 0 10px;
  margin: 0 auto;
}

/* =============
      NAVBAR 
   ============= */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  padding: 0 10px;
  margin: 28px auto;
}

.navbar-logo {
  margin-left: 15rem;
}

.nav-links {
  margin-right: 15rem;
}

.ul-nav-links {
  display: flex;
  flex-direction: row;
  gap: 25px;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #363940;
}

.nav-btn {
  margin-right: 12rem;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: right;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #6e38f7;
}

.nav-btn-up {
  margin-left: 20px;
}

/* ==========
      HERO 
   ========== */

.hero {
  display: flex;
  align-items: start;
  justify-content: start;
  margin-top: 261px;
}

.hero-name {
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 68px;
  color: #363940;
}

.hero-btn {
  display: flex;
  gap: 24px;
}

.hero-btn-1,
.hero-btn-2 {
  margin-top: 38px;
  width: 157px;
  height: 46px;
  border-radius: 4px;
  font: inherit;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  border-color: #6e38f7;
}

.hero-btn-1 {
  background-color: #6e38f7;
  color: white;
  cursor: pointer;
}
.hero-btn-2 {
  background-color: white;
  color: #6e38f7;
  cursor: pointer;
}

.hero-btn-1:hover,
.hero-btn-2:hover {
  opacity: 0.8;
}

.hero-text {
  margin-top: 36px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #95a1bb;
}

.hero-link {
  margin-top: 135px;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #6e38f7;
  cursor: pointer;
}
a:hover {
  opacity: 0.8;
}

.hero-img-1 {
  position: absolute;
  top: 142px;
  right: 342px;
}
.hero-img-2 {
  position: absolute;
  top: 170.5px;
  right: 342px;
}
.hero-img-3 {
  position: absolute;
  top: 610px;
  right: 340.4px;
  background-color: #e1e5ee;
}
.hero-img-4 {
  position: absolute;
  top: 609px;
  right: 340px;
}

.hero-img-5 {
  position: absolute;
  top: 250px;
  right: 652px;
}
.hero-img-6 {
  position: absolute;
  top: 240.1px;
  right: 642px;
}
.hero-img-icon-1 {
  position: absolute;
  top: 340px;
  right: 542px;
}
.hero-img-icon-2 {
  position: absolute;
  top: 400.5px;
  right: 693px;
}

/* =============
      FEATURES 
   ============= */

.features-header h1 {
  margin-top: 100px;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #363940;
}
.features-header p {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #95a1bb;
}

.reason-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 40px;
  grid-column-gap: 107px;
}

.reason-item {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 30px;
}

.reason-text {
  margin-left: 60px;
  max-width: 160px;
  max-height: 66px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #95a1bb;
}

/* =============
      JOURNEY 
   ============= */

.journey {
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.journey h1 {
  margin-bottom: 5px;
  margin-top: 46px;
  font-weight: 500;
  font-size: 58px;
  line-height: 68px;
  color: #363940;
}
.journey p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #95a1bb;
}

.journey-buttons {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
}

/* =============
      SLIDER
   ============= */

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  text-align: center;
  height: 450px;
  /* width: 80vw;
  max-width: 800px; */
  overflow: hidden;
}

.person-img {
  border-radius: 50%;
  margin-bottom: 1rem;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 4px solid var(--clr-grey-8);
  box-shadow: var(--dark-shadow);
}

.slider h1 {
  margin-top: 33px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #363940;
}

.slider h4 {
  margin-top: 11px;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #95a1bb;
}

.slider p {
  margin-top: 22px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #363940;
  width: 620px;
  margin-left: 8rem;
}

.slider-prev,
.slider-next {
  position: absolute;
  top: 200px;
  transform: translateY(-50%);
  background-color: white;
  display: grid;
  place-items: center;
  border-color: transparent;
  cursor: pointer;
  transition: var(--transition);
}
.slider-prev:hover,
.slider-next:hover {
  scale: 1.2;
}
.slider-prev {
  left: 0;
}
.slider-next {
  right: 0;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--transition);
}
article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}
/* =============
      PRICING 
   ============= */

.pricing-header h1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #363940;
}
.pricing-header p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #95a1bb;
}
.pricing-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.pricing-box {
  margin-top: 40px;
  border: 1px solid #e1e5ee;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing-box h2 {
  padding-top: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #363940;
}
.pricing-dollar {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #363940;
}
.pricing-box h1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #363940;
}
.pricing-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #363940;
  line-height: 50px;
  margin-bottom: 20px;
}

.pricing-box button {
  width: 160px;
  height: 36px;
  border-radius: 4px;
  background-color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #6e38f7;
  border-color: #6e38f7;
  margin-bottom: 30px;
}

.pricing-box:hover {
  border: 3px solid #6e38f7;
}

.pricing-box button:hover {
  box-shadow: 0px 0px 5px 0px rgba(110, 56, 247, 0.5);
  transition: all 0.2s ease-in-out;
  opacity: 0.8;
}

/* ===========
    PORTFOLIO 
   =========== */

.portfolio {
  margin-top: 100px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.portfolio-header {
  text-align: center;
}

.portfolio-header h1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
}

.portfolio-header p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #95a1bb;
  width: 410px;
}
.portfolio-images {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 20px;
  margin-bottom: 100px;
}

/*
=============== 
Modal
===============
*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  transition: var(--transition);
  visibility: hidden;
  z-index: -1;
}
/* OPEN/CLOSE MODAL */
.show-modal {
  visibility: visible;
  z-index: 10;
}
.modal-container {
  display: grid;
  place-items: center;
  position: relative;
}
.close-modal-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: #6e38f7;
  cursor: pointer;
}

.btn-portfolio {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

/*
=============== 
RegForm
===============
*/

.main-content {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 100px;
  margin-bottom: 100px;
}

.content-text {
  display: flex;
  flex-direction: column;
  column-gap: 30px;
}

.content-text h1 {
  margin-top: 0px;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #363940;
}
.content-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #95a1bb;
}

.content-text li {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #95a1bb;
  margin-bottom: 15px;
}
ul.list-items {
  padding: 0;
}
.list-item img {
  margin-right: 17px;
}

.content-form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 20px;
  width: 100%;
  height: 46px;
  border: 1px solid #cad1e1;
  border-radius: 4px;
  text-indent: 15px;
  /* color: transparent;
  text-shadow: 0 0 0 black; */
}

input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #95a1bb;
}

.content-form button {
  margin: 10px 0 10px;
  background: #6e38f7;
  border-radius: 4px;
  border: none;
  height: 46px;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.content-form p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #363940;
}

.content-form a {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #6e38f7;
}

/*
=============== 
Contacts
===============
*/

.contact {
  margin-top: 100px;
  margin-bottom: 100px;
}

.contact h1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #363940;
}

.contact-item {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 20px;
}

.contact-item h2 {
  margin-top: 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #363940;
}

.contact-item p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #95a1bb;
}

.contact-item a {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #6e38f7;
}

/*
=============== 
Footer
===============
*/

.footer-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.footer-info a {
  margin-left: 13px;
}

.footer-info p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: right;
  color: #95a1bb;
}
